body {
    padding-top: 3rem;
    padding-bottom:3rem;
    background-image: url('../images/Background.jpg');
    background-repeat: repeat;
}
/* .table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e2dbdb96;
    color: black;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #3dbcf3c2;
    color: black;
} */